# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# Xml,Xaml,Axaml files
[*.{xml,xaml,axaml}]
indent_size = 4

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true

# .NET coding conventions
dotnet_sort_system_directives_first = true

# Keep default csproj format
[*.csproj]
indent_size = 2
